<html lang="en">
<head>
    <title>{{ .Name }}</title>
    <meta charset="UTF-8">
</head>
<body>
<table>
    {{ range .Messages }}
        <div>
            [{{ .Time.Format "2006-01-02 15:04:05" }}] {{ .Sender | colorUsername }} {{ .Content }}
        </div>
    {{ end }}
</table>
</body>
</html>